backports.tarfile==1.2.0
flask==3.0.3
gunicorn==22.0.0
importlib-metadata==8.0.0
importlib-resources==6.4.0
jaraco.collections==5.1.0
lxml-html-clean==0.2.0
newspaper3k==0.2.8
platformdirs==4.2.2
textblob==0.18.0.post0
tomli==2.0.1
